*{
    box-sizing: border-box;
}
body{
    height: 96vh;
    background-image: url('./images/sun.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.st{
    display: flex;
    gap: 10px;
}
.but{
    display: flex;
    justify-content: space-around;
}
input,select{
    outline: none;
}
button,#con{
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    background-color: blue;
    color: white;
}
button:hover,#con:hover{
    background-color: rgb(7, 121, 220);
}

h2{
    margin-top: 0px;
}